api_peerless/temp/APIService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:tns="http://publicapi.api.s2.peerless.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicapi.api.s2.peerless.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://publicapi.api.s2.peerless.com/" schemaLocation="https://aniweb02.peerlessnetwork.com:8181/animateapi/axis/APIService?xsd=1"/>
</xsd:schema>
</types>
<message name="addNotes">
<part name="parameters" element="tns:addNotes"/>
</message>
<message name="addNotesResponse">
<part name="parameters" element="tns:addNotesResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getOrderStatus">
<part name="parameters" element="tns:getOrderStatus"/>
</message>
<message name="getOrderStatusResponse">
<part name="parameters" element="tns:getOrderStatusResponse"/>
</message>
<message name="getHierarchicalView">
<part name="parameters" element="tns:getHierarchicalView"/>
</message>
<message name="getHierarchicalViewResponse">
<part name="parameters" element="tns:getHierarchicalViewResponse"/>
</message>
<message name="download">
<part name="parameters" element="tns:download"/>
</message>
<message name="downloadResponse">
<part name="parameters" element="tns:downloadResponse"/>
</message>
<message name="supplementOrder">
<part name="parameters" element="tns:supplementOrder"/>
</message>
<message name="supplementOrderResponse">
<part name="parameters" element="tns:supplementOrderResponse"/>
</message>
<message name="getPortInRelatedOrders">
<part name="parameters" element="tns:getPortInRelatedOrders"/>
</message>
<message name="getPortInRelatedOrdersResponse">
<part name="parameters" element="tns:getPortInRelatedOrdersResponse"/>
</message>
<message name="getNewNumberSearchFilters">
<part name="parameters" element="tns:getNewNumberSearchFilters"/>
</message>
<message name="getNewNumberSearchFiltersResponse">
<part name="parameters" element="tns:getNewNumberSearchFiltersResponse"/>
</message>
<message name="placeOrder">
<part name="parameters" element="tns:placeOrder"/>
</message>
<message name="placeOrderResponse">
<part name="parameters" element="tns:placeOrderResponse"/>
</message>
<message name="NpacException">
<part name="fault" element="tns:NpacException"/>
</message>
<message name="createException">
<part name="parameters" element="tns:createException"/>
</message>
<message name="createExceptionResponse">
<part name="parameters" element="tns:createExceptionResponse"/>
</message>
<message name="validateE911Address">
<part name="parameters" element="tns:validateE911Address"/>
</message>
<message name="validateE911AddressResponse">
<part name="parameters" element="tns:validateE911AddressResponse"/>
</message>
<message name="disconnectOrder">
<part name="parameters" element="tns:disconnectOrder"/>
</message>
<message name="disconnectOrderResponse">
<part name="parameters" element="tns:disconnectOrderResponse"/>
</message>
<message name="getOrdersByPONSearch">
<part name="parameters" element="tns:getOrdersByPONSearch"/>
</message>
<message name="getOrdersByPONSearchResponse">
<part name="parameters" element="tns:getOrdersByPONSearchResponse"/>
</message>
<message name="getStatusByNumberSearch">
<part name="parameters" element="tns:getStatusByNumberSearch"/>
</message>
<message name="getStatusByNumberSearchResponse">
<part name="parameters" element="tns:getStatusByNumberSearchResponse"/>
</message>
<message name="searchOrderDetailsByOrderId">
<part name="parameters" element="tns:searchOrderDetailsByOrderId"/>
</message>
<message name="searchOrderDetailsByOrderIdResponse">
<part name="parameters" element="tns:searchOrderDetailsByOrderIdResponse"/>
</message>
<message name="viewNumberDetailsForCO">
<part name="parameters" element="tns:viewNumberDetailsForCO"/>
</message>
<message name="viewNumberDetailsForCOResponse">
<part name="parameters" element="tns:viewNumberDetailsForCOResponse"/>
</message>
<message name="activateSOA">
<part name="parameters" element="tns:activateSOA"/>
</message>
<message name="activateSOAResponse">
<part name="parameters" element="tns:activateSOAResponse"/>
</message>
<message name="searchNumbers">
<part name="parameters" element="tns:searchNumbers"/>
</message>
<message name="searchNumbersResponse">
<part name="parameters" element="tns:searchNumbersResponse"/>
</message>
<message name="upload">
<part name="parameters" element="tns:upload"/>
</message>
<message name="uploadResponse">
<part name="parameters" element="tns:uploadResponse"/>
</message>
<portType name="APIService">
<operation name="addNotes">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://publicapi.api.s2.peerless.com/APIService/addNotesRequest" message="tns:addNotes"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://publicapi.api.s2.peerless.com/APIService/addNotesResponse" message="tns:addNotesResponse"/>
<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns3:Action="http://publicapi.api.s2.peerless.com/APIService/addNotes/Fault/Exception"/>
</operation>
<operation name="getOrderStatus">
<input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://publicapi.api.s2.peerless.com/APIService/getOrderStatusRequest" message="tns:getOrderStatus"/>
<output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://publicapi.api.s2.peerless.com/APIService/getOrderStatusResponse" message="tns:getOrderStatusResponse"/>
<fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns6:Action="http://publicapi.api.s2.peerless.com/APIService/getOrderStatus/Fault/Exception"/>
</operation>
<operation name="getHierarchicalView">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://publicapi.api.s2.peerless.com/APIService/getHierarchicalViewRequest" message="tns:getHierarchicalView"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://publicapi.api.s2.peerless.com/APIService/getHierarchicalViewResponse" message="tns:getHierarchicalViewResponse"/>
<fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns9:Action="http://publicapi.api.s2.peerless.com/APIService/getHierarchicalView/Fault/Exception"/>
</operation>
<operation name="download">
<input xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://publicapi.api.s2.peerless.com/APIService/downloadRequest" message="tns:download"/>
<output xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://publicapi.api.s2.peerless.com/APIService/downloadResponse" message="tns:downloadResponse"/>
<fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns12:Action="http://publicapi.api.s2.peerless.com/APIService/download/Fault/Exception"/>
<fault xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns13:Action="http://publicapi.api.s2.peerless.com/APIService/download/Fault/Exception"/>
</operation>
<operation name="supplementOrder">
<input xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://publicapi.api.s2.peerless.com/APIService/supplementOrderRequest" message="tns:supplementOrder"/>
<output xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://publicapi.api.s2.peerless.com/APIService/supplementOrderResponse" message="tns:supplementOrderResponse"/>
<fault xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns16:Action="http://publicapi.api.s2.peerless.com/APIService/supplementOrder/Fault/Exception"/>
</operation>
<operation name="getPortInRelatedOrders">
<input xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://publicapi.api.s2.peerless.com/APIService/getPortInRelatedOrdersRequest" message="tns:getPortInRelatedOrders"/>
<output xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://publicapi.api.s2.peerless.com/APIService/getPortInRelatedOrdersResponse" message="tns:getPortInRelatedOrdersResponse"/>
<fault xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns19:Action="http://publicapi.api.s2.peerless.com/APIService/getPortInRelatedOrders/Fault/Exception"/>
</operation>
<operation name="getNewNumberSearchFilters">
<input xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://publicapi.api.s2.peerless.com/APIService/getNewNumberSearchFiltersRequest" message="tns:getNewNumberSearchFilters"/>
<output xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://publicapi.api.s2.peerless.com/APIService/getNewNumberSearchFiltersResponse" message="tns:getNewNumberSearchFiltersResponse"/>
</operation>
<operation name="placeOrder">
<input xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://publicapi.api.s2.peerless.com/APIService/placeOrderRequest" message="tns:placeOrder"/>
<output xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://publicapi.api.s2.peerless.com/APIService/placeOrderResponse" message="tns:placeOrderResponse"/>
<fault xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" message="tns:NpacException" name="NpacException" ns24:Action="http://publicapi.api.s2.peerless.com/APIService/placeOrder/Fault/NpacException"/>
<fault xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns25:Action="http://publicapi.api.s2.peerless.com/APIService/placeOrder/Fault/Exception"/>
</operation>
<operation name="createException">
<input xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://publicapi.api.s2.peerless.com/APIService/createExceptionRequest" message="tns:createException"/>
<output xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" ns27:Action="http://publicapi.api.s2.peerless.com/APIService/createExceptionResponse" message="tns:createExceptionResponse"/>
<fault xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns28:Action="http://publicapi.api.s2.peerless.com/APIService/createException/Fault/Exception"/>
</operation>
<operation name="validateE911Address">
<input xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" ns29:Action="http://publicapi.api.s2.peerless.com/APIService/validateE911AddressRequest" message="tns:validateE911Address"/>
<output xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" ns30:Action="http://publicapi.api.s2.peerless.com/APIService/validateE911AddressResponse" message="tns:validateE911AddressResponse"/>
<fault xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns31:Action="http://publicapi.api.s2.peerless.com/APIService/validateE911Address/Fault/Exception"/>
</operation>
<operation name="disconnectOrder">
<input xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata" ns32:Action="http://publicapi.api.s2.peerless.com/APIService/disconnectOrderRequest" message="tns:disconnectOrder"/>
<output xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata" ns33:Action="http://publicapi.api.s2.peerless.com/APIService/disconnectOrderResponse" message="tns:disconnectOrderResponse"/>
<fault xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata" message="tns:NpacException" name="NpacException" ns34:Action="http://publicapi.api.s2.peerless.com/APIService/disconnectOrder/Fault/NpacException"/>
<fault xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns35:Action="http://publicapi.api.s2.peerless.com/APIService/disconnectOrder/Fault/Exception"/>
</operation>
<operation name="getOrdersByPONSearch">
<input xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata" ns36:Action="http://publicapi.api.s2.peerless.com/APIService/getOrdersByPONSearchRequest" message="tns:getOrdersByPONSearch"/>
<output xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" ns37:Action="http://publicapi.api.s2.peerless.com/APIService/getOrdersByPONSearchResponse" message="tns:getOrdersByPONSearchResponse"/>
<fault xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns38:Action="http://publicapi.api.s2.peerless.com/APIService/getOrdersByPONSearch/Fault/Exception"/>
</operation>
<operation name="getStatusByNumberSearch">
<input xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata" ns39:Action="http://publicapi.api.s2.peerless.com/APIService/getStatusByNumberSearchRequest" message="tns:getStatusByNumberSearch"/>
<output xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata" ns40:Action="http://publicapi.api.s2.peerless.com/APIService/getStatusByNumberSearchResponse" message="tns:getStatusByNumberSearchResponse"/>
<fault xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns41:Action="http://publicapi.api.s2.peerless.com/APIService/getStatusByNumberSearch/Fault/Exception"/>
</operation>
<operation name="searchOrderDetailsByOrderId">
<input xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata" ns42:Action="http://publicapi.api.s2.peerless.com/APIService/searchOrderDetailsByOrderIdRequest" message="tns:searchOrderDetailsByOrderId"/>
<output xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata" ns43:Action="http://publicapi.api.s2.peerless.com/APIService/searchOrderDetailsByOrderIdResponse" message="tns:searchOrderDetailsByOrderIdResponse"/>
<fault xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns44:Action="http://publicapi.api.s2.peerless.com/APIService/searchOrderDetailsByOrderId/Fault/Exception"/>
</operation>
<operation name="viewNumberDetailsForCO">
<input xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata" ns45:Action="http://publicapi.api.s2.peerless.com/APIService/viewNumberDetailsForCORequest" message="tns:viewNumberDetailsForCO"/>
<output xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata" ns46:Action="http://publicapi.api.s2.peerless.com/APIService/viewNumberDetailsForCOResponse" message="tns:viewNumberDetailsForCOResponse"/>
<fault xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns47:Action="http://publicapi.api.s2.peerless.com/APIService/viewNumberDetailsForCO/Fault/Exception"/>
</operation>
<operation name="activateSOA">
<input xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata" ns48:Action="http://publicapi.api.s2.peerless.com/APIService/activateSOARequest" message="tns:activateSOA"/>
<output xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata" ns49:Action="http://publicapi.api.s2.peerless.com/APIService/activateSOAResponse" message="tns:activateSOAResponse"/>
<fault xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns50:Action="http://publicapi.api.s2.peerless.com/APIService/activateSOA/Fault/Exception"/>
</operation>
<operation name="searchNumbers">
<input xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata" ns51:Action="http://publicapi.api.s2.peerless.com/APIService/searchNumbersRequest" message="tns:searchNumbers"/>
<output xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata" ns52:Action="http://publicapi.api.s2.peerless.com/APIService/searchNumbersResponse" message="tns:searchNumbersResponse"/>
<fault xmlns:ns53="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns53:Action="http://publicapi.api.s2.peerless.com/APIService/searchNumbers/Fault/Exception"/>
</operation>
<operation name="upload">
<input xmlns:ns54="http://www.w3.org/2007/05/addressing/metadata" ns54:Action="http://publicapi.api.s2.peerless.com/APIService/uploadRequest" message="tns:upload"/>
<output xmlns:ns55="http://www.w3.org/2007/05/addressing/metadata" ns55:Action="http://publicapi.api.s2.peerless.com/APIService/uploadResponse" message="tns:uploadResponse"/>
<fault xmlns:ns56="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns56:Action="http://publicapi.api.s2.peerless.com/APIService/upload/Fault/Exception"/>
</operation>
</portType>
</definitions>